<h2>About Super Raheem Rentals</h2>

<p>
  The Super Raheem Rentals website was created to explore the wonderful world of Ember.js. This project allows Raheem to imagine traveling the world while simultaneously traversing the pathways of the Ember framework!
</p>
<p>
  Hey, Raheem, don't worry about those big words for now: just remember, Ember does rad stuff! Ember - oh - oh - oh - Ember - EMBER - Ember - ole - ole - ole !
</p>

{{#link-to 'contact'}}Click here to contact Rahemm.{{/link-to}}
{{#link-to 'index'}}Click her to go Home{{/link-to}}
