<div class="container">
  <header class = "jumbotron">
    <h1>Super Rentals</h1>
  </header>
    {{outlet}}
  <hr>
  <footer>
    {{#link-to 'about'}}About{{/link-to}} <br>
    {{#link-to 'contact'}}Click here to contact Raheem{{/link-to}} <br>
    {{#link-to 'index'}}Click her to go Home{{/link-to}} <br>
    {{#link-to 'announcements'}}Click here to go to Announcements{{/link-to}}
  </footer>
</div>
