<h1>Welcome to Super Raheem Rentals</h1>

Raheem hopes you find the crib you're looking for. #StayNeverLeave.

<ul>
  {{#each model as |rental|}}
    {{rental-tile rental=rental destroyRental="destroyRental"}}
  {{/each}}
</ul>

{{new-rental save2="save3"}}

{{#link-to 'about'}}About{{/link-to}}
{{#link-to 'contact'}}Click here to contact Raheem{{/link-to}}
